body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #156C99;
}

.main-menu header h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.radio-genre-list,
.radio-list {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.radio-genre-list h1,
.radio-list h3 {
  flex-grow: 0;
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav > ul > li {
  padding: 5px;
  margin: 0 auto 10px auto;
  display: block;
  width: 400px;
  text-align: center
}

nav > ul > li:last-child {
  margin-bottom: 0;
}

nav > ul > li.selected {
  background-color: lightgray;
}

.help {
  margin: 5vh 5vw;
  padding: 20px;
  background-color: lightblue;
}

.level-selector .menu-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 50px;
  top: 100px;
}

.menu-wrapper {
  overflow: hidden;
  max-height: 100vh;
}

/* Game menu styles */
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  /*transition: transform 0.1s ease-in;*/
}

ul.menu > li {
  padding: 5px;
  margin: 0 auto 10px auto;
  display: block;
  width: 400px;
  text-align: center
}

ul.menu > li:last-child {
  margin-bottom: 0;
}

ul.menu > li.selected {
  background-color: lightgray;
}


/* Game styles */

.game-screen {
  text-align: center;
}

.stage {
  position: relative;
  display: inline-block;
}

.man {
  position: absolute;
  width: 64px;
  height: 64px;
}

.block {
  width: 32px;
  height: 32px;
  position: absolute;
  background: url(/i/terrain.png) -704px -576px no-repeat;
  -webkit-transition: left 0.3s linear, top 0.3s linear;
  transition: left 0.3s linear, top 0.3s linear;
}

.block.placed {
  background-position-x: -640px;
}

.fence {
  background: url(/i/terrain.png) -704px -704px no-repeat;
}

.place {
  background: url(/i/terrain.png) -64px -992px no-repeat;
}

.row {
  height: 32px;
  width: auto;
}

.cell {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.score {
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.modal {
  position: fixed;
  top: 5vh;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
  background: rgba(0,0,0, 0.7);
  color: white;
  text-align: center;
}

.tile-layers {
  position: relative;
}

.tile-layers > .tile-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.move-pos {
	position: absolute;
	top: 0;
  left: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#man {
  background-image: url(/i/man.png);
  height: 64px;
  width: 64px;
  background-position: 0 0;
	animation: man-walk 0.6s steps(9) infinite;
	position: absolute;
}
.up > #man {
  background-position-y: 0;
}
.right > #man {
  background-position-y: 64px;
}
.down > #man {
  background-position-y: 128px;
}
.left > #man {
  background-position-y: 192px;
}
@keyframes man-walk {
	0% { background-position-x: 0; }
	100% { background-position-x: -576px; }
}

.radio-player {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
}