body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav > ul > li {
  padding: 5px;
  margin-right: 10px;
  display: inline-block;
}

nav > ul > li:last-child {
  margin-right: 0;
}

.stage {
  position: relative;
  width: 100vw;
  /* height: 80vh; */
}

.man {
  position: absolute;
  width: 5vw;
  height: 5vh;
  background-color: red;
}

.block, .fence, .place {
  width: 5vw;
  height: 5vh;
}

.block {
  position: absolute;
  background-color:blue;
  transition: all 0.3s linear;
}

.fence {
  background-color:black;
}

.place {
  background-color:green;
}

.row {
  height: 5vh;
}

.cell {
  width: 5vw;
  height: 5vh;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.score {
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.modal {
  position: fixed;
  top: 5vh;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
  background: rgba(0,0,0, 0.7);
  color: white;
  text-align: center;
}

.tile-layers {
  position: relative;
}

.tile-layers > .tile-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.move-pos {
	position: absolute;
	top: 0;
  left: 0;
  transition: all 0.3s linear;
}

#man {
  background-image: url(/i/man.png);
  height: 64px;
  width: 64px;
  background-position: 0 0;
	animation: man-walk 0.6s steps(9) infinite;
	position: absolute;
}
.up > #man {
  background-position-y: 0;
}
.right > #man {
  background-position-y: 64px;
}
.down > #man {
  background-position-y: 128px;
}
.left > #man {
  background-position-y: 192px;
}
@keyframes man-walk {
	0% { background-position-x: 0; }
	100% { background-position-x: -576px; }
}

